.coverContainer {
  position: relative;
  width: 100%;
  background-color: darkgray;
}

.coverContainer:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.cover {
  height: auto;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.metadata {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  min-height: 1.25em;
  line-height: 1.25em;
  font-size: 1em;
  font-weight: bold;
}

.artist {
  min-height: 1.1em;
  line-height: 1.1em;
  font-size: 0.9em;
  color: gray;
}

.player {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.toggle {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
