.container {
  min-height: 100vh;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
}

.title {
  min-height: 1.25em;
  line-height: 1.25em;
  font-size: 1em;
}

.sourceName {
  min-height: 1em;
  line-height: 1em;
  font-size: 0.85em;
  margin-top: 2px;
  color: gray;
}
