.time {
  width: 100%;
}

.timestamps {
  width: 100%;
  margin-bottom: 0.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  font-size: 0.75em;
  color: gray;
}

.scrubber {
  height: 5px;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: row;
}

.elapsed {
  height: 3px;
  background-color: rgb(40, 220, 220);
  transition: width 150ms ease-in-out;
}

.remaining {
  height: 3px;
  width: 100%;
  flex: 1;
  background-color: gray;
  transition: width 150ms ease-in-out;
}
