html,
body,
#app {
  min-height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.cross-fade-leave {
  opacity: 1;
}

.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.cross-fade-enter {
  opacity: 0;
}

.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.cross-fade-height {
  transition: height 150s ease-in-out;
}
