.bg {
  height: 100vh;
  width: 100vw;
  background-color: rgb(40, 220, 220);
  margin: 0;
  padding: 0;
}

.dim {
  height:100vh;
  width:100vw;
  position:fixed;
  left:0;
  top:0;
  z-index:1 !important;
  background-color:black;
  opacity: 0.75;
}

.root {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1 !important;
  padding: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: lightgray;
}

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.title {
  text-align: center;
  font-size: 1.5em;
}

.cover {
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.metadata {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.metadataTitle {
  font-weight: bold;
}

.metadataArtist {
  font-size: 0.95em;
  color: gray;
}

.mediaPlayer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mediaScrubber {
  height: 5px;
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: row;
}

.mediaScrubberElapsed {
  height: 3px;
  background-color: rgb(40, 220, 220);
}

.mediaScrubberFill {
  height: 3px;
  width: 100%;
  flex: 1;
  background-color: gray;
}
